<header>
    <div class="group-image-container">
        <img
            [src]="
                group.groupImgUrl ||
                'https://placehold.co/40x40/533483/ffffff?text=U'
            "
            alt="group-image"
            class="group-image"
        />
        <!-- Esto de los permisos podríamos hacerlo en una directiva -->
        @if(myGroupMember.role === 'admin'){
        <label class="edit-groupImg-btn">
            <input
                type="file"
                accept="image/*"
                (change)="editGroupImage($event)"
                hidden
            />
            <mat-icon>edit</mat-icon>
        </label>
        }
    </div>
    <div class="topic-edit-container" [class.editing]="editingTopic">
        @if(!editingTopic){
        <h2
            class="topic-display"
            (mouseenter)="hoverTopic = true"
            (mouseleave)="hoverTopic = false"
            (click)="myGroupMember.role === 'admin' && enableTopicEdit()" 
            [class.hovered]="myGroupMember.role === 'admin' &&  hoverTopic"
        >
            {{ group.topic }}
            @if(myGroupMember.role === 'admin' && hoverTopic){
            <mat-icon class="edit-icon">edit</mat-icon>
            } @if(isTopicLoading){
            <img src="assets/loading.gif" class="topic-loader" alt="Loading" />
            } @if(isTopicSuccess){
            <mat-icon class="topic-succes">check_circle</mat-icon>
            }
        </h2>
        } @else{
        <input
            class="topic-input"
            [(ngModel)]="newTopic"
            (blur)="submitTopicEdit()"
            (keydown.enter)="submitTopicEdit()"
            autofocus
        />
        }
    </div>

    <nav class="chat-nav">
        <button mat-icon-button aria-label="Llamada" matTooltip="Iniciar llamada" (click)="startGroupCall()">
            <mat-icon>call</mat-icon>
        </button>
        <button
            mat-icon-button
            aria-label="Info del grupo"
            (click)="openGroupInfo()"
        >
            <mat-icon>info</mat-icon>
        </button>

        <button mat-icon-button aria-label="Eliminar chat" color="warn" (click)="deleteChat()" matTooltip="Eliminar chat">
            <mat-icon>delete</mat-icon>
        </button>
    </nav>
</header>
